<div id="resume"></div>

<script id="resumeId" type="text/plain"><%= resumeId %></script>
<script id="requirejs-script" data-script="/js/resume/start.js" data-main="/js/start" src="/vendor/require/require.js"></script>